<div class="container my-3">
    <h1 class="mb-3">Add New Employee</h1>
    <div class="row">
        <div class="col-6">
            <form #form="ngForm" (ngSubmit)="addemployee()">

                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" name="name" id="name" [(ngModel)]="addEmployeeRequest.name" placeholder="enter name of the employee">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" id="email" name="email" class="form-control" [(ngModel)]="addEmployeeRequest.email" placeholder="enter the email ">
                </div>
        
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="text" id="phone" name="phone" class="form-control" [(ngModel)]="addEmployeeRequest.phonenumber" placeholder="enter the phone number">
                </div>
        
                <div class="mb-3">
                    <label for="salary" class="form-label">Salary</label>
                    <input type="number" id="salary"name="salary" class="form-control" [(ngModel)]="addEmployeeRequest.salary" placeholder="enter salary of employee">
                </div>
        
                <div class="mb-3">
                    <label for="dept" class="form-label">Department</label>
                    <input type="text" id="dept" name="dept" class="form-control" [(ngModel)]="addEmployeeRequest.department"placeholder="enter department of employee">
                </div>
         
                <button type="submit" class="btn btn-primary">Save</button>
        
            </form>
        </div>
    </div>



</div>